.container{
    margin-top: 25px;
    text-align: center;
}

.error {
    color: red;
    font-size: 14px;
  }

  mat-card{
    max-width: 50%;
    margin: auto;
    
    border-radius: 20px;
  }

  .space{
    margin-top: 25px;
  }